.question-element {
    border: 2px dashed black;
    border-radius: 10px 10px 10px 0px;
    width: fit-content;
    padding: 0.6em 0.8em 0.4em 0.8em;
    margin-bottom: 1em;
    font-size: 1.1em;
    background-color: white;
}

.question-element.left {
    margin-left: auto;
    border-radius: 10px 10px 0px 10px;
}